
<style>

:root {
   --main-bg-color: {{ settings.color_primary }};
   --main-color: {{ settings.color_nav_text }};
   --hover-brightness: 1.2;
}

.filepond--drop-label {
	color:  var(--main-color)
}

.filepond--panel-root {
  background-color: var(--main-bg-color);
}


.filepond--root {
	margin: 0 auto;
}

.filepond--root:hover {
  filter: brightness(var(--hover-brightness));
}
</style>


{%- if section.settings.api_key != blank -%}
{%- endif -%}

<div>
<div class="wp-upload--wrapper " id="wpaa5822d2">
      <input id='wp-upload' type="file" class="filepond" name="file" accept=".csv"/>
    </label>  
</div>
<p>{{section.settings.message}}</p>
</div>
<script>


function RerenderCart() {
  $.get("/cart", function (data) {
    debugger;
    const parser = new DOMParser();
    const doc = parser.parseFromString(data, "text/html");
    const formSelector = doc.querySelector("form[action='/cart']");
    $("form[action='/cart']").replaceWith(formSelector);
  });
}

function addToCart(data){
    fetch('/cart/add.js', {
          method: 'POST',
          headers: {
             'Content-Type': 'application/json'
          },
          body: data
})
.then(response => response.json())
//.then(()=>{debugger;RerenderCart()})
.then(setTimeout(()=>location.href='/cart',3000))
.catch((error) => {
  console.error('Error:', error);
   });
  }
 
document.addEventListener('FilePond:loaded', e => {

FilePond.create(
	document.getElementById('wp-upload'),
	{
		labelIdle: "{{ section.settings.labelIdle }}",
    labelFileProcessing: "{{ section.settings.labelFileProcessing }}",
    labelFileProcessingComplete: "{{ section.settings.labelFileProcessingComplete }}",
    labelFileProcessingAborted: "{{ section.settings.labelFileProcessingAborted }}",
    labelFileProcessingError: "{{ section.settings.labelFileProcessingError }}",
	}
);
FilePond.setOptions({
server:{
    url: '{{ section.settings.server_address }}',
    process: {
      url:'/orders/',
      onload: (response)=>{addToCart(response)}
    },
    revert: null,
    fetch: null
}});
});
</script>

{% schema %}
{
  "name": {
    "de": "Bestellungen hochladen",
    "en": "Order upload page"
  },
  "class": "index-section",
  "settings": [
    {
      "id": "server_address",
      "type": "select",
      "label": {
        "de": "Serveradresse",
        "en": "Server address"
      },
      "info": "For the server address [please see]](https://help.shopify.com/manual/online-store/themes/dynamic-checkout)",
      "options": [
      {
        "label":{
          "en": "local"
        },
        "value": "http://127.0.0.1:5005"
        },
        {
        "label":{
          "en": "remote"
        },
        "value": "https://127.0.0.1:5005"
        }

        ]
    },
    {
      "id": "message",
      "type": "html",
      "label": {
        "de": "Anmerkungen",
        "en": "Remarks"
      },
      "default": {
        "de": "Bitte benutzen Sie unsere vorbereitete CSV-Datei",
        "en": "Remarks"
      }
    },
    {
      "id": "labelIdle",
      "type": "html",
      "label": {
        "de": "Absenden",
        "en": "Send"
      },
      "default": {
        "de": "Drag & Drop ihrer Datei oder <span class='filepond--label-action'>suchen</span>",
        "en": "Drag & Drop your file or <span class='filepond--label-action'>Browse</span>"
      }
    },
    {
      "id": "labelFileProcessing",
      "type": "html",
      "label": {
        "de": "Dateiverarbeitung",
        "en": "File processing"
      },
      "default": {
        "de": "Datei wird hochgeladen",
        "en": "Uploading"
      }
    },
    {
      "id": "labelFileProcessingComplete",
      "type": "html",
      "label": {
        "de": "Datei ist hochgeladen",
        "en": "File processing complete"
      },
      "default": {
        "de": "Datei erfolgreich hochgeladen",
        "en": "Upload complete"
      }
    },
    {
      "id": "labelFileProcessingAborted",
      "type": "html",
      "label": {
        "de": "Hochladen abbrechen",
        "en": "File processing abort"
      },
      "default": {
        "de": "Hochladen wurde abgebrochen",
        "en": "Upload cancelled"
      }
    },
    {
      "id": "labelFileProcessingError",
      "type": "html",
      "label": {
        "de": "Fehler beim Hochladen",
        "en": "File processing errors"
      },
      "default": {
        "de": "Fehler beim Hochladen",
        "en": "Error during upload"
      }
    }





  ]
}
{% endschema %}
